/***************************COMMON STYLING**************************/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  cursor: default;
}

.home-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

/***************************PERIODIC TABLE STYLING**************************/

/* Periodic table alignment style */
.periodic-table {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* Styling for each square containing information (element squares) */
.table-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  width: 85px;
  height: 85px;
}

.table-element h1 {
  font-size: 24px;
  margin: 0;
}

.table-element h3 {
  font-size: 12px;
  margin: 0;
}

.table-element:hover {
  opacity: 80%;
  cursor: pointer;
  transition: .3s opacity;
}

.table-element div {
  position: absolute;
  margin-left: 0.25rem;
}

/* Filler elements (white blocks) */
.filler {
  background-color: white;
  border: 1px solid white;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-filler {
  width: 42.5px;
  height: 42.5px;
}

/* Period styling */
.period,
.multi-period {
  display: flex;
  width: 100%;
}

.period-section-1 {
  display: flex;
  flex-direction: row;
}

.period-section-4 {
  display: flex;
  flex-direction: row;
}

.period-label {
  background-color: white;
  text-align: center;
  height: 30px;
  padding-bottom: 10px;
}

/* Styling for box that previews hovered on element */
.preview {
  border: 2px solid white;
  background-color: #e4626f;
  height: 257px;
  width: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview h1 {
  margin: 0;
  font-size: 55px;
  padding-bottom: 0.75rem;
}

.preview h3 {
  margin: 0;
  font-size: 18px;
  padding-bottom: 0.75rem;
}

.preview div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* Styling for key table that shows specifc data of element on an element's hover */
.key {
  border: 2px solid white;
  background-color: rgb(245, 229, 220);
  height: 257px;
  width: 605px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.key td {
  display: inline-block;
  vertical-align: middle;
  color: midnightblue;
  border: 1px solid #e4626f;
  padding: 0.5rem 0.5rem;
  font-size: 16px;
  text-align: center;
  min-width: 5.95rem;
  max-width: 5.95rem;
  min-height: 1rem;
  max-height: 1rem;
  margin-left: 0.1rem;
  /* background-color: rgb(235, 223, 221); */
  background-color: rgb(253, 241, 239);
  font-weight: 600;
}

.key th {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  color: steelblue;
  border: 1px solid #e4626f;
  padding: 0.5rem 0.2rem;
  font-size: 16px;
  min-width: 10rem;
  min-height: 1rem;
  background-color: rgb(253, 241, 239);
  font-weight: 600;
}

.labels {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.labels table th {
  width: 10rem;
  color: black;
  font-weight: 600;
  border: 1px solid black;
}

.trend-label {
  border: 1px solid black;
  display: none;
}

.trend-label div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.density-label p {
  background-image: linear-gradient(to bottom right, rgb(0, 255, 255), rgb(0, 0, 255));
  color: black;
}

.radius-label p {
  background-image: linear-gradient(to bottom right, rgb(127, 255, 0), rgb(127, 255, 255));
  color: black;
}

.electronegativity-label p {
  background-image: linear-gradient(to bottom right, rgb(255, 255, 0), rgb(255, 0, 255));
  color: black;
}

.melting-label p {
  background-image: linear-gradient(to bottom right, rgb(255, 255, 0), rgb(255, 0, 0));
  color: black;
}

.boiling-label p {
  background-image: linear-gradient(to bottom right, rgb(255, 255, 0), rgb(255, 0, 0));
  color: black;
}

.ie-label p {
  background-image: linear-gradient(to bottom right, rgb(125, 255, 0), rgb(125, 125, 255));
  color: black;
}

.trend-label div p {
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem 1rem;
  font-weight: 600;
}

/* Flip from Key to Data button */

.fa-exchange-alt {
  font-size: 35px;
  color: lightcoral;
}

.fa-exchange-alt:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Period labels (left-hand side labels) */

.period1::before {
  content: "1";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period2::before {
  content: "2";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period3::before {
  content: "3";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period4::before {
  content: "4";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period5::before {
  content: "5";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period6::before {
  content: "6";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period7::before {
  content: "7";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.lan-act {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Coloring elements based on type ( transition metal, non-metal, etc. */

.noble {
  background-color: #ecb3c2
}

.non-metal {
  background-color: #c4d8e8
}

.alkali {
  background-color: #da6b5c
}

.alkaline {
  background-color: #f2b579
}

.transition {
  background-color: #ecd18d
}

.basic {
  background-color: #8ccabc
}

.metalloid {
  background-color: #b6e2da
}

.halogen {
  background-color: #94bee2
}

.lanthanides {
  background-color: #d4acc0
}

.actinides {
  background-color: #c27fa5
}

.noble-key {
  background-color: #ecb3c2 !important
}

.non-metal-key {
  background-color: #c4d8e8 !important
}

.alkali-key {
  background-color: #da6b5c !important
}

.alkaline-key {
  background-color: #f2b579 !important
}

.transition-key {
  background-color: #ecd18d !important
}

.basic-key {
  background-color: #8ccabc !important
}

.metalloid-key {
  background-color: #b6e2da !important
}

.halogen-key {
  background-color: #94bee2 !important
}

.lanthanides-key {
  background-color: #d4acc0 !important
}

.actinides-key {
  background-color: #c27fa5 !important
}

/***************************MENU (NAVBAR) STYLING**************************/

.menu {
  height: 6%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #e4626f;
  transition: 0.5s;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu div {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

.menu div:hover {
  color: #f1f1f1;
}

.menu-content {
  padding: 0.2rem 3rem;
}

.menu-select {
  padding: .4rem .5rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 30%;
  border-radius: 1rem;
}

.menu-select span {
  font-size: 20px;
  transition: color .3s;
  /* color: rgb(37, 37, 37); */
  color: whitesmoke;
}

.menu-select a {
  font-size: 20px;
  transition: color .3s;
  /* color: rgb(37, 37, 37); */
  color: whitesmoke;
}

.menu-select span i {
  padding: 0 4px;
}

.menu-select a,
.menu-select a:hover,
.menu-select a:visited,
.menu-select a:active,
.fa-github,
.fa-home {
  text-decoration: none;
}

.fa-github,
.fa-home {
  /* color: rgb(37, 37, 37); */
  color: white;
  font-size: 20px;
  padding: 0 1rem;
  transition: color .3s;
}

.fa-github {
  padding-left: 2rem;
}

.menu-select span:hover,
.fa-github:hover,
.menu-select a:hover,
.fa-home:hover {
  cursor: pointer;
  color: rgb(207, 205, 205);
  transition: color .3s;
}

.menu-select div a:hover {
  color: gray;
}

/* Dropdown menu */

.dropbtn {
  color: white;
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1000;
  top: 30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/****************Info Boxes******************/


.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.info h1 {
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.075rem;
  font-size: 50px;
  color: #e4626f;
  border-bottom: 2px solid lightgray;
}

.info a {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75%;
  margin-right: 1rem;
  font-size: 2rem;
  color: rgb(0, 34, 128);
  text-decoration: none;
}

.info a:hover {
  opacity: 80%;
  cursor: pointer;
}

.info-box {
  width: fit-content;
  height: fit-content;
  border: 2px solid #e4626f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info-slot {
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  border: 2px solid #e4626f;
  transition: background-color .3s;
}

.info-slot:hover {
  background-color: lightgray;
  transition: background-color .3s;
}

.info-slot p {
  color: #363636;
  font-weight: 600;
}

.info-title {
  color: navy !important;
  font-weight: 600;
}

/***********404 PAGE************/

.page-not-found {
  text-align: center;
}

.page-not-found h1 {
  color: #e4626f;
  font-size: 20rem;
  padding: 0;
  margin: 0;
}

.page-not-found h2 {
  color: #e4626f;
  font-size: 1.5rem;
}

.page-not-found h3 a {
  color: rgb(107, 194, 223);
  cursor: pointer;
  border-bottom: 1px solid #e4626f;
  text-decoration: none;
}

/* Media queries for responsive design */

@media (max-width: 2000px) {

  /* Styling for each square containing information (element squares) */
  .table-element {
    width: 65px;
    height: 65px;
  }

  .table-element h1 {
    font-size: 19px;
  }

  .table-element h3 {
    font-size: 8.5px;
  }

  /* Filler elements (white blocks) */
  .filler {
    width: 65px;
    height: 65px;
  }

  .middle-filler {
    width: 32.5px;
    height: 32.5px;
  }

  /* Styling for box that previews hovered on element */
  .preview {
    height: 197px;
    width: 197px;
  }

  .preview h1 {
    font-size: 40px;
  }

  .preview h3 {
    font-size: 15px;
  }

  /* Styling for key table that shows specifc data of element on an element's hover */
  .key {
    height: 197px;
    width: 465px;
  }

  .key td {
    font-size: 12px;
    min-width: 3.95rem;
    max-width: 3.95rem;
    min-height: 1rem;
    max-height: 1rem;
    vertical-align: middle;
    margin-left: 0.1rem;
  }

  .key th {
    padding: 0.5rem 0.2rem;
    font-size: 12px;
    min-width: 8rem;
    max-width: 8rem;
    min-height: 1rem;
    vertical-align: middle;
    max-height: 1rem;
  }

  .labels table th {
    width: 10rem
  }

  /* Menu styling */

  .menu div {
    font-size: 20px;
  }

  .menu a {
    font-size: 22.5px;
  }

  .menu-content {
    padding: 0.2rem 3rem;
  }

  .menu-select {
    padding: .4rem .5rem;
    height: 30%;
  }

  .menu-select span {
    font-size: 17.5px;
  }

  .menu-select a {
    font-size: 20px;
  }

  .dropdown-content a {
    padding: 10px 14px;
    font-size: 14px;
  }

}

@media (max-width: 1300px) {

  /* Styling for each square containing information (element squares) */
  .table-element {
    width: 50px;
    height: 50px;
  }

  .table-element h1 {
    font-size: 15px;
  }

  .table-element h3 {
    font-size: 7.5px;
  }

  .period-label {
    background-color: white;
    text-align: center;
    height: 10px;
    padding-bottom: 0px;
    margin-bottom: -5px;
  }

  /* Filler elements (white blocks) */
  .filler {
    width: 50px;
    height: 50px;
  }

  .middle-filler {
    width: 22.5px;
    height: 22.5px;
  }

  /* Styling for box that previews hovered on element */
  .preview {
    height: 152px;
    width: 152px;
  }

  .preview h1 {
    font-size: 22.5px;
  }

  .preview h3 {
    font-size: 11px;
  }

  /* Styling for key table that shows specifc data of element on an element's hover */
  .key {
    height: 152px;
    width: 360px;
  }

  .key td {
    font-size: 10px;
    min-width: 3.2rem;
    max-width: 3.2rem;
    min-height: .5rem;
    max-height: .5rem;
    margin-left: 0.1rem;
  }

  .key th {
    padding: 0.5rem 0.2rem;
    font-size: 10px;
    min-width: 6rem;
    max-width: 6rem;
    min-height: .5rem;
    max-height: .5rem;
  }

  .fa-exchange-alt {
    font-size: 25px;
  }

  /* Menu styling */

  .menu a {
    font-size: 20px;
  }

  .dropdown-content a {
    font-size: 13.5px;
  }

  .menu-select span {
    font-size: 15px;
  }
  
  .info h1 {
    margin-bottom: 2.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.075rem;
    font-size: 40px;
  }
  
  .info a {
    padding: .75%;
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .info-slot {
    width: 15rem;
    height: 3rem;
    padding: 1rem 1rem;
  }

  .info-slot p {
   font-size: 15px;
  }

}