/***************************COMMON STYLING**************************/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.home-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

/***************************PERIODIC TABLE STYLING**************************/

/* Periodic table alignment style */
.periodic-table {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* Styling for each square containing information (element squares) */
.table-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  width: 65px;
  height: 65px;
}

.table-element h1 {
  font-size: 19px;
  margin: 0;
}

.table-element h3 {
  font-size: 9.5px;
  margin: 0;
}

.table-element:hover {
  opacity: 80%;
  cursor: pointer;
  transition: .3s opacity;
}

.table-element div {
  position: absolute;
  margin-left: 0.25rem;
}

/* Filler elements (white blocks) */
.filler {
  background-color: white;
  border: 1px solid white;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Period styling */
.period,
.multi-period {
  display: flex;
  width: 100%;
}

.period-section-1 {
  display: flex;
  flex-direction: row;
}

.period-section-4 {
  display: flex;
  flex-direction: row;
}

.period-label {
  background-color: white;
  text-align: center;
  height: 30px;
  padding-bottom: 10px;
}

/* Styling for box that previews hovered on element */
.preview {
  border: 2px solid white;
  background-color: pink;
  height: 197px;
  width: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview h1 {
  margin: 0;
  font-size: 40px;
  padding-bottom: 0.75rem;
}

.preview h3 {
  margin: 0;
  font-size: 15px;
  padding-bottom: 0.75rem;
}

.preview div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* Styling for key table that shows specifc data of element on an element's hover */
.key {
  border: 2px solid white;
  background-color: #e4626f;
  height: 197px;
  width: 465px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.key td {
  display: inline-block;
  color: midnightblue;
  border: 1px solid rgb(134, 133, 133);
  padding: 0.5rem 0.5rem;
  font-size: 14px;
  text-align: center;
  min-width: 3.95rem;
  max-width: 3.95rem;
  min-height: 1rem;
  max-height: 1rem;
  margin-left: 0.1rem;
  /* background-color: rgb(235, 223, 221); */
  background-color: rgb(253, 241, 239);
  font-weight: 600;
}

.key th {
  display: inline-block;
  font-weight: 400;
  color: steelblue;
  border: 1px solid rgb(134, 133, 133);
  padding: 0.5rem 0.2rem;
  font-size: 14px;
  min-width: 8rem;
  min-height: 1rem;
  background-color: rgb(253, 241, 239);
  font-weight: 600;
}

.labels {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.labels table th {
  width: 10rem;
  color: black;
  font-weight: 600;
  border: 1px solid black;
}

/* Flip from Key to Data button */

.fa-exchange-alt {
  font-size: 35px;
  color: lightcoral;
}

.fa-exchange-alt:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Period labels (left-hand side labels) */

.period1::before {
  content: "1";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period2::before {
  content: "2";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period3::before {
  content: "3";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period4::before {
  content: "4";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period5::before {
  content: "5";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period6::before {
  content: "6";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.period7::before {
  content: "7";
  border-color: black;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: -25px;
}

.lan-act {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Coloring elements based on type ( transition metal, non-metal, etc. */

.noble {
  background-color: #ecb3c2 !important
}

.non-metal {
  background-color: #c4d8e8 !important
}

.alkali {
  background-color: #da6b5c  !important
}

.alkaline {
  background-color: #f2b579 !important
}

.transition {
  background-color: #ecd18d !important
}

.basic {
  background-color: #8ccabc !important
}

.metalloid {
  background-color: #b6e2da !important
}

.halogen {
  background-color: #94bee2 !important
}

.lanthanides {
  background-color: #d4acc0 !important
}

.actinides {
  background-color: #c27fa5 !important
}

/***************************MENU STYLING**************************/
.menu {
  border: 1px solid #b6e2da;
  padding: 2rem;
  height: 50vh;
  width: 15%;
  margin: auto 2rem;
  background-color: lightblue;
  border-radius: .25rem;
  position: relative;
}

.menu-content {
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* Each selection in menu */
.menu-select {
  padding: 1rem;
  height: 5%;
  width: 80%;
  border: 1px solid white;
  text-align: center;
  background-color: #94bee2;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(71, 71, 71);
}

.menu-select:hover {
  cursor: pointer;
  opacity: 92.5%;
}

/* Github and discord icons in menu */
.fa-github {
  position: absolute;
  left: 0;
  padding: 1rem;
  bottom: 0;
  font-size: 25px;
  color: rgb(71, 71, 71);
}

.fa-discord {
  position: absolute;
  right: 0;
  padding: 1rem;
  bottom: 0;
  font-size: 25px;
  color: rgb(71, 71, 71);
}

.fab:hover {
  cursor: pointer;
  opacity: 92.5%;
}